.footer {
    background-color: $fondofooter; 
    margin: 30px black;
}
/*Parrafo del footer que dice contacto*/
.parrafooter {
    color: white;
    text-decoration: underline;
    font-size: 30px;
}
/*imagen del logo del mail*/
.logomail,
.logoinsta,
.logotwitter {
    padding: 3px;
    background-color: white;
}
/*parrafo donde esta mi mail de contacto*/
.mail,
.enlaceinsta,
.enlacetwitter {
    color: white;
    padding: 20px;
}
/*derechos de autor*/
.derechosreser {
    color: white;
    text-align: center;
}