.funcionamientoBlockchain {
    text-align: center;
}
/*Clase para centrar el titulo de la imagen de como funciona la blockchain*/
.funcionBlockchain {
    font-size: 25px;
    text-align: center;
}
.imgparrafo {
    text-align: center;
}